<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12 col-md-offset-0" id="nav_book_page">
			
			</div>
			<div class="col-md-12 col-md-offset-0" id="nav_book_page">
				
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1 text-left" id="nav_book">
			<div class="col-md-6" style="padding:60px 0 0 0;">
				<!-- <h3 id="nav_tab" class="tab_red">
					About Me
				</h3>
				<h3 id="nav_tab" class="tab_green">
					Education
				</h3>
				<h3 id="nav_tab" class="tab_blue">
					Products
				</h3>
				<h3 id="nav_tab" class="tab_yellow">
					Home
				</h3> -->
			<!-- 	<h3 id="nav_tab" class="tab_red small_tab">
					&nbsp
				</h3>
				<h3 id="nav_tab" class="tab_green small_tab">
					&nbsp
				</h3>
				<h3 id="nav_tab" class="tab_blue small_tab">
					&nbsp
				</h3>
				<h3 id="nav_tab" class="tab_yellow small_tab">
					&nbsp
				</h3> -->
			</div>
<!-- 			<div class="col-md-12" style="padding:0;">
				<h2>&nbsp</h2>
			</div> -->

			
		</div>
		
		
	</div>
</div>
