<div class="container" id="thanks">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>
				Thank 
				<span class="highlight">You</span>
			</h1>
			<h4>
				非常感謝您的協助填答！
			</h4>
		</div>
	</div>
</div>